{% extends "base.html" %}

{% block title %}
About Us - MySite
{% endblock %}

{% block content %}
<div class="text-center">
    <h1 class="text-4xl font-bold mb-4">About</h1>
    <p class="text-lg text-white mb-6">
        Hi 👋 my names Joe and I work in the conservation sector. Welcome to A plant a day, this is a blog I'm using to document my progress in working towards my FISC test.
        What is a FISC? It stands for Field Identification Skills Certificate and is a test devised by BSBI in order to determine botanical proficiency - more info can be seen <a href="https://bsbi.org/field-skills">here</a>
    </p>
    <p class="text-lg text-white mb-6">
        I decided to make this blog in order to encourage me to spend a bit of time each day recording and looking at a single plant species.
    </p>
    <div class="mt-8">
        <a href="#" class="px-6 py-3 bg-blue-600 hover:bg-blue-700 text-white font-bold rounded shadow">
            Contact Us
        </a>
    </div>
</div>
{% endblock %}