{% load static %}

<!DOCTYPE html>
<html lang="en" class="min-h-screen">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}A plant a day{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/output.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/obsidian.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/highlight.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap" rel="stylesheet"/>
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    {% block extra_head %} {% endblock %}
  </head>
  <body>
    {% include 'partials/navbar.html' %}
    <main class="flex md:flex-row min-h-screen justify-center bg-amber-400">
      {% block content %} {% endblock %}    
    </main>
    <footer class="bg-amber-900 py-4 text-center">
      <p class="text-sm text-gray-400">
        &copy; {% now "Y" %} MySite. All rights reserved.
      </p>
    </footer>
    <script>
      hljs.highlightAll();
    </script>
    <script>
      document.body.addEventListener('htmx:configRequest', (event) => {
        event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
      })
    </script>
    {% block extra_scripts %} {% endblock %}
  </body>
</html>
